



$color-primary: white ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body, #root {
    height: 100%;
} 

#mainAndHeader {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0.5rem 1rem;
}


#root {
    display: flex;
    flex-direction: column;
}


main {
    flex-grow: 1;
    padding: 1rem;
}

footer{
    background-color: $color-primary;
    padding: 1rem;
    text-align: center;
    font-size: 0.7rem;

}


.orderNav {
    display: flex;
    align-content: space-between;
    
    
}

.imgHouse{
    max-width: 48px;
}

.underline{
    text-decoration: none;
    margin-left: 1rem;
    color: black;
    
}

.cardOrder{
    display: flex;
    flex-direction: row;
}